
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
<<<<<<< HEAD
  <title>UberTrips</title>
=======
  <title>Home Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.bundle.js">
>>>>>>> 7111bdea30c5379e0b43ad45778a44b29718000a
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div class="container">
  <section id="top">
    <h1>UberTrips</h1>
  </section>
  <section>
    <form action="home_submit" method="get">
      <input type="text" name="time" placeholder="Morning | Evening | Night">
      <input type="text" name="zipcode" placeholder="Zipcode">
      <input type="submit" name="Submit">
    </form>
  </section>
  </div>
</body>
</html>

